<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Character Gallery - The Spook Saloon</title>
        
		<div th:replace="/fragments/styling :: head-style" ></div>
    
        <!-- All the images in this section are drawn by yours truly!
        In the future I might add drawings others have done of my characters as well -
        with credit, of course. -->

	</head>
<body>

	  <div th:replace="fragments/navbars :: nav-head" ></div>

<!--
	I didn't quite have time to make the changes I wanted to make for this page,
	mostly because I learned you can overlay text on cards and I thought that would be
	a really neat way to display all the information I wanted to for each of my characters.
	That, and it would make the image sizes more consistent.
	Ah well. Future progress to make!
-->

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <img src="/my-drawings/cam.JPEG" class="img-fluid">    
            </div>
            <div class="col-md-4">
                <img src="/my-drawings/leyth.JPG" class="img-fluid">            
            </div>
            <div class="col-md-4">
                <img src="/my-drawings/scurry.jpg" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="/my-drawings/lynne1.JPG" class="img-fluid">
            </div>
            <div class="col-md-4">
                <img src="/my-drawings/chase.jpg" class="img-fluid">
            </div>
            <div class="col-md-4">
                <img src="/my-drawings/kai.jpg" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="/my-drawings/ven1.jpg" class="img-fluid">
            </div>
            <div class="col-md-4">
                <img src="/my-drawings/ven2.jpg" class="img-fluid">
            </div>
            <div class="col-md-4">
                <img src="/my-drawings/chiara.jpg" class="img-fluid">
            </div>
        </div>


	  <div th:replace="fragments/navbars :: nav-foot" ></div>


<div th:replace="/fragments/styling :: body-links" ></div>
</body>
</html>